.btn-card{
    background-color: yellow;
}
.grid-boostrap{
    background-color: aqua;
}
.grid-boostrap div{
    border: 1px solid black;
}
.row{
display: flex;
justify-content: center;}
.p1{
   background-color: yellow;
   text-align: center;
}
.fondoDos{
    background-color: rgb(173, 127, 72);
}
.h2, .quienes{
   color: rgb(235, 157, 57);
}

header {
    justify-content: space-evenly;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
    justify-content: space-between;

}
.body{
    background-color: rgb(242, 189, 124);
}